<app-layout>
  <app-players-wrapper
    (closeChanges)="onSelect($event)"
    [playerPosition]="playersDrawer()"
    [selectedPlayers]="selectedPlayers()"
    [position]="playerPosition()"
    [mapPosition]="mapPosition()"
    (closeDrawer)="closeDrawer()"
    [open]="playersDrawer()"
  ></app-players-wrapper>
  <app-player-view-drawer
    [selectedPlayer]="previewPlayer()"
    [open]="playerViewDrawer()"
    [disableTransfer]="isNotTeamPlayer() && isOwner() && !activeGame()"
    [teamCaptainId]="teamCaptainTemp()"
    (openTransfers)="onTransfer($event)"
    (makeCaptain)="newCaptain($event)"
    (closeDrawer)="closePlayerPreview()"
  ></app-player-view-drawer>
  <div class="w-full h-full relative flex flex-col pb-2">
    <div class="flex flex-col py-2 px-2">
      <div class="flex justify-between items-center">
        <div class="flex flex-col overflow-hidden">
          <p
            class="flex-1 overflow-hidden w-full font-bold whitespace-nowrap text-ellipsis"
          >
            {{ teamName() }}
          </p>
        </div>
      </div>
      <div
        *ngIf="isOwner() && perks()"
        class="flex pt-3 justify-between w-full"
      >
        <div class="flex gap-2">
          <button
            role="button"
            (click)="
              tripleCaptainActive()
                ? deactivateTripleCaptain()
                : activateTripleCaptain()
            "
            [disabled]="!perks()?.tripleCaptain"
            [ngClass]="{
              'w-10 text-[8px] py-2 ring-1 ring-blue-300 disabled:opacity-20  rounded-sm flex items-center justify-center': true,
              'ring-blue-500 bg-blue-500 text-white':
                tripleCaptainActive() && perks()?.tripleCaptain
            }"
          >
            Triple Captain
          </button>
          <button
            role="button"
            (click)="toggleWildCard()"
            [disabled]="!perks()?.wildcard || freeHitActive()"
            [ngClass]="{
              'w-10 text-[8px] ring-1 ring-blue-300 disabled:opacity-20  rounded-sm flex items-center justify-center': true,
              'ring-blue-500 bg-blue-500 text-white':
                wildCardActive() && perks()?.wildcard
            }"
          >
            Wild Card
          </button>
          <button
            role="button"
            (click)="toggleFreeHit()"
            [disabled]="!perks()?.freehit || wildCardActive()"
            [ngClass]="{
              'w-10 text-[8px] ring-1 ring-blue-300 disabled:opacity-20  rounded-sm flex items-center justify-center': true,
              'ring-blue-500 bg-blue-500 text-white':
                freeHitActive() && perks()?.freehit
            }"
          >
            Free Hit
          </button>
        </div>
        <div>
          <button
            *ngIf="playersToTransferTeamPlayersDif().length"
            (click)="makeTransfer()"
            class="bg-blue-500 rounded-sm px-2 py-2 text-white"
          >
            Transfer
          </button>
        </div>
      </div>
    </div>

    <div class="flex-1 relative soccer-field">
      <div class="absolute bottom-[35%] w-full">
        <app-player-card
          [points]="playerPoints(players().gk)"
          *ngIf="players().gk"
          [player]="players().gk"
          (queryPlayers)="
            openPlayerPreview({ player: players().gk, mapPos: 'gk' })
          "
          [captain]="players().gk?.id === teamCaptainTemp()"
          class="player-box left-1/2 -translate-x-1/2 absolute"
        ></app-player-card>
      </div>
      <div class="absolute bottom-[48%] w-full">
        <app-player-card
          [points]="playerPoints(players().def1)"
          *ngIf="players().def1"
          [player]="players().def1"
          (queryPlayers)="
            openPlayerPreview({ player: players().def1, mapPos: 'def1' })
          "
          [captain]="players().def1?.id === teamCaptainTemp()"
          class="player-box left-[8%] absolute"
        ></app-player-card>
        <app-player-card
          [points]="playerPoints(players().def2)"
          *ngIf="players().def2"
          [player]="players().def2"
          (queryPlayers)="
            openPlayerPreview({ player: players().def2, mapPos: 'def2' })
          "
          [captain]="players().def2?.id === teamCaptainTemp()"
          class="player-box right-[8%] absolute"
        ></app-player-card>
      </div>
      <div class="absolute bottom-[70%] w-full">
        <app-player-card
          [points]="playerPoints(players().mid)"
          *ngIf="players().mid"
          [player]="players().mid"
          (queryPlayers)="
            openPlayerPreview({ player: players().mid, mapPos: 'mid' })
          "
          [captain]="players().mid?.id === teamCaptainTemp()"
          class="player-box left-1/2 -translate-x-1/2 absolute"
        ></app-player-card>
      </div>
      <div class="absolute top-[5%] w-full">
        <app-player-card
          [points]="playerPoints(players().atk1)"
          *ngIf="players().atk1"
          [player]="players().atk1"
          (queryPlayers)="
            openPlayerPreview({ player: players().atk1, mapPos: 'atk1' })
          "
          [captain]="players().atk1?.id === teamCaptainTemp()"
          class="player-box left-[8%] absolute"
        ></app-player-card>
        <app-player-card
          [points]="playerPoints(players().atk2)"
          *ngIf="players().atk2"
          [player]="players().atk2"
          (queryPlayers)="
            openPlayerPreview({ player: players().atk2, mapPos: 'atk2' })
          "
          [captain]="players().atk2?.id === teamCaptainTemp()"
          class="player-box right-[8%] absolute"
        ></app-player-card>
      </div>
    </div>
  </div>
</app-layout>
<app-footer></app-footer>
